@charset "UTF-8";
main{
    background: #F0D7DA;
    height: calc(100vh - 11.4rem);
    padding-top: 11.4rem;
}

main .wrap{
    width: 100%;
    height: 100%;
    background: url("../img/mv_bg.svg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .wrap h2{
    font-size: 4rem;
}

main .wrap a{
    background: #F59F7C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 2rem 3.5rem;
    border-radius: 25rem;
    width: 23rem;
    text-align: center;
    font-size: 2rem;
    color: #333333;
    margin-top: 4.5rem;
}

main .wrap a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}

@media screen and (max-width: 1024px){
    main .wrap{
        background: url("../img/mv_bg_sp.svg") no-repeat center center/cover;
    }
}

@media screen and (max-width: 767px){
    main{
        height: calc(100vh - 5.1rem);
        padding-top: 5.1rem;
    }
    
    main .wrap h2{
        font-size: 2.8rem;
    }
    
    main .wrap a{
        font-size: 1.2rem;
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        border-radius: 6.1rem;
        width: 13.4rem;
    }
}